.step .header {
  background: #001F3F;
  display: flex;
  padding: 24px 0px;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.step .title {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  flex: 1 0 0;
  align-self: stretch;
}

.step .logo {
  width: 70.416px;
  height: 29.328px;
  position: absolute;
  right: 48.584px;
  top: 74px;
}

.step .main {
  display: flex;
  padding: 0px 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.step .informations .subtitle {
  margin-top: 24px;
  color: #121212;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
}

.step .informations .text-wrapper {
  color: #121212;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.step .filter {
  padding: 16px 0px;
  border-radius: 4px;
  background: #FFF;
  /* Drop-shadow/Light */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
}

.step .filter .label {
  color: #6c757d;
  font-size: 12px;
  font-weight: 500;
}

.step .filter .button-submit {
  background-color: #0d6efd;
  border-radius: 4px;
  color: #ffffff;
  padding: 8px 24px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
